src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wd-connector="http://www.mulesoft.org/schema/mule/wd-connector"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/wd-connector http://www.mulesoft.org/schema/mule/wd-connector/current/mule-wd-connector.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="deleteSnowUsers">
        <logger message="Deleting ServiceNow user: #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Create request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/sys_user
---
{
	ns0#deleteRecord: {
		ns0#"sys_id": payload
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <servicenow:invoke config-ref="ServiceNow" type="sys_user||deleteRecord" doc:name="ServiceNow"/>
        <dw:transform-message doc:name="XML to Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>

    <flow name="getSnowUsers">
        <logger message="Requesting data from ServiceNow: #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Create request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/sys_user
---
{
	ns0#getRecords: {
		ns0#email: payload
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <servicenow:invoke config-ref="ServiceNow" type="sys_user||getRecords" doc:name="ServiceNow"/>
        <dw:transform-message doc:name="XML to Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.getRecordsResponse.*getRecordsResult]]></dw:set-payload>
        </dw:transform-message>
        <logger message="ServiceNow returned: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="updateWorkdayEmployee">
        <logger message="Updating Workday worker: #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Create request">
            <dw:input-payload doc:sample="sample_data\map.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:com.workday/bsvc
---
{
	ns0#Maintain_Contact_Information_for_Person_Event_Request: {
		ns0#Maintain_Contact_Information_Data: {
			ns0#Worker_Reference: {
				ns0#ID @(ns0#type: "Employee_ID"): payload.ExtId__c
			},
			ns0#Effective_Date: now,
			ns0#Worker_Contact_Information_Data: {
				ns0#Address_Data: {
					ns0#Country_Reference: {
						ns0#ID @(ns0#type: "ISO_3166-1_Alpha-3_Code"): payload.Country
					},
					ns0#Address_Line_Data @(ns0#Type: "ADDRESS_LINE_1"): payload.Street,
					ns0#Municipality: payload.City,
					ns0#Country_Region_Reference: {
						ns0#ID @(ns0#type: "Country_Region_ID"): payload.State
					},
					ns0#Postal_Code: payload.PostalCode,
					ns0#Usage_Data @(ns0#Public: false): {
						ns0#Type_Data @(ns0#Primary: true): {
							ns0#Type_Reference: {
								ns0#ID @(ns0#type: "Communication_Usage_Type_ID"): "HOME"
							}
						}
					}
				},
				ns0#Phone_Data: {
					ns0#Country_ISO_Code: "USA",
					ns0#Phone_Number: payload.Phone,
					ns0#Phone_Device_Type_Reference: {
						ns0#ID @(ns0#type: "Phone_Device_Type_ID"): "1063.5"
					},
					ns0#Usage_Data @(ns0#Public: true): {
						ns0#Type_Data @(ns0#Primary: true): {
							ns0#Type_Reference: {
								ns0#ID @(ns0#type: "Communication_Usage_Type_ID"): "HOME"
							}
						}
					}
				},
				ns0#Email_Address_Data: {
					ns0#Email_Address: payload.Email,
					ns0#Usage_Data @(ns0#Public: true): {
						ns0#Type_Data @(ns0#Primary: true): {
							ns0#Type_Reference: {
								ns0#ID @(ns0#type: "Communication_Usage_Type_ID"): "HOME"
							}
						}
					}
				}
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <wd-connector:invoke config-ref="Workday__Basic" type="Human_Resources||Maintain_Contact_Information" doc:name="Maintain Contact Information"/>
        <logger message="updateWorkdayEmployee subflow finished..." level="INFO" doc:name="Logger"/>
    </flow>

    
</mule>
