src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <data-mapper:config name="GetWorkersResponseType_To_List_Map_" transformationGraphPath="getworkersresponsetype_to_list_map_.grf" doc:name="GetWorkersResponseType_To_List_Map_"/>
    <data-mapper:config name="GetWorkersResponseType_To_List_Map__1" transformationGraphPath="getworkersresponsetype_to_list_map__1.grf" doc:name="GetWorkersResponseType_To_List_Map__1"/>

	<!-- In this file you should declare all inbound endpoints of your application -->

	<flow name="triggerFlow" processingStrategy="synchronous"
		
		doc:description="This is the simpliest entry point to start the excecution of your Kick
Here you should:
	* Define any inbound endpoint
	* Handle any input parameter and transform it into the expected format by the mainFlow
Here you should not:
	* Run validations against external systems
	* Choose flow of your application based on input parameters">
		<poll doc:name="fireup Worker synchronization">
			<fixed-frequency-scheduler frequency="${poll.frequencyMillis}"
				startDelay="${poll.startDelayMillis}" />
			<watermark variable="lastQueryDate" default-expression="${watermark.defaultExpression}" selector="FIRST" selector-expression="#[payload.LastModifiedDate]"/>
			<processor-chain doc:name="query Workers and set collection">
                <logger message="Fetching Workday updates...#[new java.util.Date()]" level="INFO" doc:name="log 'Fetching workday updates...'"/>
				<wd-hr:get-workers config-ref="Workday_Human_Resource"
					doc:name="get Workers from Workday Human Resource"
					workersRequest-ref="#[org.mule.templates.WorkersRequest.create(lastQueryDate)]"></wd-hr:get-workers>

				<data-mapper:transform config-ref="GetWorkersResponseType_To_List_Map_" doc:name="GetWorkersResponseType To List&lt;Map&gt;">
                    <data-mapper:input-arguments>
                        <data-mapper:input-argument key="UpdatedThrough">#[payload.getRequestCriteria().getTransactionLogCriteriaData()[0].getTransactionDateRangeData().getUpdatedThrough()]</data-mapper:input-argument>
                    </data-mapper:input-arguments>
                    
                </data-mapper:transform>

			</processor-chain>
		</poll>


        <logger level="INFO" doc:name="log worker's name" message="Workday workers: #[payload]"/>
        <batch:execute name="broadcastUsers" doc:name="Batch Execute"/>
		
	</flow>

</mule>
